<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sabzazaar"
        android:usesCleartextTraffic="true">

        <!-- Auth Activities -->
        <activity
            android:name=".activities.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.OtpPageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.OnBoardingStartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.MobileNumberGetActivity"
            android:exported="false" />

        <!-- Main/Feature Activities -->
        <activity
            android:name=".activities.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.SoilHealthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.WeatherDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.AskQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.QuestionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.AboutActivity"
            android:exported="false" />

        <!-- Profile Activities -->
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.MoreLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.MyQuestionsActivity"
            android:exported="false" />

        <!-- Scan Activities -->
        <activity
            android:name=".activities.scan.ScanCameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.scan.ScanPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.scan.ScanAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.scan.ScanTreatmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.scan.ScanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.scan.ScanResultsActivity"
            android:exported="false" />

        <!-- Expert Activities -->
        <activity
            android:name=".activities.expert.ExpertLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.expert.ExpertDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.expert.ExpertAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.expert.ExpertBroadcastActivity"
            android:exported="false" />

        <!-- Utility Activities -->
        <activity
            android:name=".utils.Permissions"
            android:exported="false" />
        <activity
            android:name=".utils.LanguagePreference"
            android:exported="false" />
        <activity
            android:name=".utils.VoicePreference"
            android:exported="false" />

        <!-- FileProvider for camera photo capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>